@import  "font";
// Colors 
$primary:   #262262;
$black: #000;
$yellow: #ffbb00;
$blue: #0088ff;
$red: #ff1948;
$perple: #6C1EA4;
$lime-green: #25F2C8;
$green: #56C405;
$rg1: rgba(183,251,135,1);
$rg2: rgba(90,201,6,1);
$rg3: rgba(58,164,0,1);
$countdownp: #F42168;
$roadmapblue: #4EB9EC;
// width
$fullwidth: 100%;
$halfwidth: 50%;
$widthfullvw: 96vw;

// Mobile
$mobile: 768px; 